.Content {
    flex-grow: 6.3;
    min-width:73%;
    height:100%;
    overflow: auto;
    position: relative;
}
.Content .no-chall {
    position: absolute;
    font-size:3em;
    text-align: center;
    width: 100%;
    margin-top:2em;
}
.Content .no-chall a {
    color: var(--accent);
}
@media (max-width: 612px) {
    .Content {
        height: unset;
    }
}