.Content {
    flex-grow: 6.3;
    min-width:73%;
    height:100%;
    overflow: auto;
    position: relative;
}
.Content .no-chall {
    position: absolute;
    font-size:3em;
    text-align: center;
    width: 100%;
    margin-top:2em;
}
.Content .no-chall a {
    color: var(--accent);
}
@media (max-width: 612px) {
    .Content {
        height: unset;
    }
    .Content .no-chall {
        margin-top: 0;
    }
}
.searcher {
    width:100%;
    display: block;
    font-size:1.6em;
    padding: 0.7rem 0;
    padding-left: 3.1rem;
    outline: 0;
    border: none;
    background-color: white;
}
.searcher::-webkit-search-decoration {
  -webkit-appearance:none;
}
.search {
    position: relative;
    width: 90%;
    margin: 0.7rem auto;
    margin-bottom:0;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
.bar {
    content:"";
    height:0.2rem;
    width:100%;
    background-color: black;
    position: absolute;
    bottom:0.45rem;
    left: 3.1rem;
}
.search img {
    position: absolute;
    width:2rem;
    left:0.5rem;
}