.Sidebar {
    /* width:28%; */
    min-width: 10em;
    flex-grow:1;
    background-color: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height:calc(100vh - 3rem);
    padding-top: 1rem;
}


@media (max-width: 612px) {
    .Sidebar {
        height: unset;
        overflow: auto;
    }
}