.Tag {
    padding:0.3em 0.7em;
    margin-right:0.5em;
    margin-bottom: 9999px; /* Fix chrome issue with tag overflow */
    background-color: var(--accent-3);
    color: white;
    border-radius: 13px;
    display: inline-block;
    min-width: 5vw;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: filter 0.1s;
    margin-top: 0.5em;
    margin-left: 0.1em;
}
.Tag:focus {
    filter: contrast(1.5);
}
.Tag:focus-visible {
    outline: var(--accent) solid 2px;
}
.Tag:-moz-focusring {
    outline: var(--accent) solid 2px;

}
.Tag:active {
    box-shadow: -1px -1px 4px rgba(0,0,0,0.1);
    filter: contrast(2);
}