:root {
    /* Variable Declarations */
    --background: #F8F9F7;
    --text: #272727;

    --accent: #D7263D;
    --accent-2: #28A2A2;
    --accent-3: #FAA916;
    --accent-text: #ffffff;
}
.unselectable {
    /* From https://stackoverflow.com/a/4407335/13608595 */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}